* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}
/* Header */
header{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

.logo img{
  display: flex;
  width: 250px;
  margin-bottom: 1rem;
  padding: 5px;
}

.location-header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #3A3A3A;
}

.logo-location{
  display: flex;
}

.logo-location img{
  margin-right: 10px;
}

@media (max-width: 425px) {
  .logo-location img{
      margin-right: 1px;
      width: calc(2rem + 2px);
  }
}

@media (max-width: 425px) {
  .logo img{
      margin-right: 1px;
      width: calc(12rem - 2px);
  }
}

@media (max-width: 425px) {
  .logo-location h2{
      font-size: calc(2rem - 15px);
  }
}

.topnav {
  overflow: hidden;
}

#congresses {
  margin-right: 40px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 17px;
}

@media (min-width:320px) and (max-width: 426px) {
  .topnav a {
    padding: 10px 20px;
  }
}   

#proceedings{
  background-color: rgb(141, 23, 27);
  color: white;
}

.active {
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(60, 54, 54, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(141, 24, 27);
  color: white;
}

.dropdown-content a:hover {
  background-color: rgb(226, 226, 226);
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  padding: 20px;
  font-family: 'PT Serif', serif;
  background-color: #B72026;

}
@media (min-width:320px) and (max-width: 426px) {
  nav {
    padding: 0;
    margin-right: 0;
    justify-content: start;
  align-items: center;
  }
  
}  
@media (min-width:320px) and (max-width: 426px) {
  .main {
    height: 50vh;
  }
}

.custom-link {
    text-decoration: none;
    color: #242424;
  }

  .custom-link:hover {
    text-decoration: none;
  }
  
.cover-container {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    color: #393939;
    padding: 20px;
  }

  .cover-image {
    width: 200px;
    margin-right: 20px;
  }

  @media (min-width:320px) and (max-width: 426px) {
    .cover-image {
      margin-top: 20px;
    }
  }  

  @media (min-width:320px) and (max-width: 426px) {
    .cover-container {
      display: flex;
      align-items: start;
      flex-direction: column-reverse;
    }
  }  
  .cover-content {
    flex: 1;
    font-family: 'PT Serif', serif;
  }
body {
    margin: 0;
    padding: 0;
  }

  .proceedings-container {
    padding: 20px;
    background-color: #f5f5f5;
  }

  .proceeding {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }

  .proceeding:hover{
    background: #ebebeb;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.03);
  }

  .proceeding-content {
    flex: 1;
  }

  .proceeding img {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
    visibility: hidden;
  }

  .proceeding-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'PT Serif', serif;
  }

  .proceeding-details {
    font-style: italic;
    color: #6b6b6b;
    font-family: 'PT Serif', serif;
  }

/*.main {
    display: flex;
    justify-content: center;
    height: 40vh;
  }*/
  
  
  :root {
    --main-brown-color: #393939;
  }
 
  
/* css kod za sponzore */

.spon {
  display: flex;
  justify-content: center;
  height: 60vh;
  margin-bottom: 50px;
}

@media (min-width:320px) and (max-width: 426px) {
    .spon {
      height: 140vh;
    }
 }   

 @media (min-width:320px) and (max-width: 426px) {
  .ffos, .mzos {
    width: 250px!important;
  }
} 

@media (min-width:320px) and (max-width: 426px) {
  .sponsor-list ul{
   display: flex;
   flex-direction: column;
   height: 100vh;
 }   
 }

.sponsors {
  width: 100%;
  padding: 80px;
  margin-bottom: 20px;
}

@media (min-width:320px) and (max-width: 426px) {
  .sponsors {
    padding: 0;
  }   
 }

.our-sponsors {
  text-align: center;
  color: #202020;
}


.our-sponsors .h_line {
  border-bottom: 2px solid #202020;
  width: 330px;
  margin: auto;
}

.our-sponsors h4 {
  font-size: 28px;
  margin-bottom: 10px;
  font-family: 'PT Serif', serif;

}

.sponsor-list {
  margin-top: 60px;
  font-family: 'PT Serif', serif;
  font-weight: 600;
}

.sponsor-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsor-list li {
  flex-basis: 20%;
  padding: 5pt;
}

.sponsor-list li i {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.sponsor-list li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.ffos {
  width: 320px;
}

.unios {
  width: 120px;
}

.mzos {
  width: 290px;
}

.os {
  width: 140px;
}

.obz {
  width: 90px;
}

.hazu{
  width: 140px;
}
/* kraj css koda za sponzore ---------------------------------------------------------------------------------------------------------------- */

/* css kod za footer ------------------------------------------------------------------------------------------------------------------------ */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(249, 247, 247);
  opacity: .90;
  color:#444343;
  height: 350px;
  font-family: 'PT Serif', serif;
}

@media (min-width:320px) and (max-width: 426px) {
 footer{
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: rgb(249, 247, 247);
  height: 450px;
}   
}

.left {
  margin-left: 180px;
  margin-bottom: 220px;
}

@media (min-width:320px) and (max-width: 426px) {
  footer div{
    margin-left: 20px;
  }
}

@media (min-width:320px) and (max-width: 426px) {
    .left{
      margin-left: 0;
      margin-bottom: 0;
    }
}

.left p {
  margin: 5px 0;
  padding-top: 20px;
}

.left a {
  color:#444343;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  text-decoration: none;
  margin-top: 20px;
  margin-left: 20px;
}
@media (min-width:320px) and (max-width: 426px) {
   .left a{
    margin-top: 0;
    margin-left: 20px;
    font-size: 16px;
    }
}

.left img {
  height: 100px;
  margin-top: 120px;
}

@media (min-width:320px) and (max-width: 426px) {
  .left img{
    margin-top: 20px;
    margin-left: 0;
    height: 100px;
   }
}

.center {
  text-align: left;
  font-size: 20px;
  margin-bottom: 100px;
  margin-top: 20px;
}

  .center a{
    color:#B72026
  }



@media (min-width:320px) and (max-width: 426px) {
  .center {
    margin-bottom: 0;
    font-size: 16px;
  }
}
.center p {
  margin: 5px 0;
  padding-top: 20px;
}
@media (min-width:320px) and (max-width: 426px) {
  .center p{
    margin: 0;
    padding-top: 0;
  }
}
.center ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.center ul li {
  margin: 0 10px;
}

@media (min-width:320px) and (max-width: 426px) {
  .center ul li {
    margin: 10px;
  }
}

.center ul li a {
  color: #3A3A3A;
  font-size: 30px;
}
.right {
  margin-right: 180px;
  font-size: 20px;
  margin-top: 40px;
}

@media (min-width:320px) and (max-width: 426px) {
  .right {
    height: 100%;
    width: 100%;
    background-color: rgb(249, 247, 247);
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
  }
}

@media (min-width:320px) and (max-width: 426px) {
  .right p{
    margin-left: 20px!important;
  }
}

.right p {
  margin-bottom: 20px;
}

.fab {
  color: #ffffff;
  margin-top: 20px;
  margin-right: 10px;
}

iframe {
  height: 200px;
  width: 400px;
  margin-bottom: 20px;
  
}

@media (min-width:320px) and (max-width: 426px) {
  iframe {
    height: 140px;
    width: 220px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: 20px;
  }
}
/* kraj css koda za footer ------------------------------------------------------------------------------------------------------------------ */